################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/LiveSplit.NightInTheWoods/v15
/bin
/Components/LiveSplit.NightInTheWoods.exe
/obj
